{% extends 'base.html.twig' %}

{% block title %}Stagiaire{% endblock %}

{% block body %}
<h1>Page d'accueil de mon incroyable site sur les stagiaires</h1>
<img src="/image/stagiaires.jpg" width=400px  alt="stagiairemoche">

{% endblock %}
